# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/
# Next.js build and development artifacts
.next-check/
.next-prod/
/.next-check/
/.next-prod/
.next-check
# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.vercel
.next-check/app-build-manifest.json
.next-check/app-path-routes-manifest.json
.next-check/BUILD_ID
.next-check/build-manifest.json
.next-check/trace
.next-check/cache/webpack/client-production/0.pack
.next-check/cache/webpack/client-production/3.pack
.next-check/cache/webpack/client-production/4.pack
.next-check/cache/webpack/client-production/5.pack
.next-check/cache/webpack/client-production/index.pack
.next-check/cache/webpack/client-production/index.pack.old
.next-check/cache/webpack/server-production/0.pack
.next-check/cache/webpack/server-production/3.pack
.next-check/cache/webpack/server-production/index.pack
.next-check/cache/webpack/server-production/index.pack.old
.next-check/server/app-paths-manifest.json
.next-check/server/app/_not-found.html
.next-check/server/app/_not-found.rsc
.next-check/server/app/index.html
.next-check/server/app/index.rsc
.next-check/server/app/page_client-reference-manifest.js
.next-check/server/app/page.js
.next-check/server/app/_not-found/page_client-reference-manifest.js
.next-check/server/app/_not-found/page.js
.next-check/server/app/api/attendees/route_client-reference-manifest.js
.next-check/server/app/api/attendees/\[id]/route_client-reference-manifest.js
.next-check/server/app/api/expenses/route_client-reference-manifest.js
.next-check/server/app/api/geocode/route_client-reference-manifest.js
.next-check/server/pages/404.html
.next-check/server/pages/500.html
.gitignore
