# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/
# Next.js build and development artifacts
.next-check/
.next-prod/
/.next-check/
/.next-prod/
.next-check
# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.vercel
.next-check/app-build-manifest.json
.next-check/app-path-routes-manifest.json
.next-check/BUILD_ID
.next-check/build-manifest.json
.next-check/images-manifest.json
.next-check/prerender-manifest.json
.next-check/react-loadable-manifest.json
.next-check/required-server-files.json
.next-check/routes-manifest.json
.next-check/trace
.next-check/cache/.previewinfo
.next-check/cache/.rscinfo
.next-check/cache/webpack/client-production/0.pack
.next-check/cache/webpack/client-production/1.pack
.next-check/cache/webpack/client-production/2.pack
.next-check/cache/webpack/client-production/index.pack
.next-check/cache/webpack/client-production/index.pack.old
.next-check/cache/webpack/edge-server-production/index.pack
.next-check/cache/webpack/server-production/0.pack
.next-check/cache/webpack/server-production/1.pack
.next-check/cache/webpack/server-production/2.pack
.next-check/cache/webpack/server-production/index.pack
.next-check/cache/webpack/server-production/index.pack.old
.next-check/server/app-paths-manifest.json
.next-check/server/middleware-build-manifest.js
.next-check/server/middleware-react-loadable-manifest.js
.next-check/server/server-reference-manifest.json
.next-check/server/webpack-runtime.js
.next-check/server/app/_not-found.html
.next-check/server/app/_not-found.rsc
.next-check/server/app/index.html
.next-check/server/app/index.rsc
.next-check/server/app/page_client-reference-manifest.js
.next-check/server/app/page.js
.next-check/server/app/page.js.nft.json
.next-check/server/app/_not-found/page_client-reference-manifest.js
.next-check/server/app/_not-found/page.js
.next-check/server/app/_not-found/page.js.nft.json
.next-check/server/app/api/attendees/route_client-reference-manifest.js
.next-check/server/app/api/attendees/route.js
.next-check/server/app/api/attendees/route.js.nft.json
.next-check/server/app/api/attendees/\[id]/route_client-reference-manifest.js
.next-check/server/app/api/attendees/\[id]/route.js
.next-check/server/app/api/attendees/\[id]/route.js.nft.json
.next-check/server/app/api/expenses/route_client-reference-manifest.js
.next-check/server/app/api/expenses/route.js
.next-check/server/app/api/expenses/route.js.nft.json
.next-check/server/app/api/geocode/route_client-reference-manifest.js
.next-check/server/app/api/geocode/route.js
.next-check/server/app/api/geocode/route.js.nft.json
.next-check/server/app/favicon.ico/route.js
.next-check/server/app/favicon.ico/route.js.nft.json
.next-check/server/chunks/638.js
.next-check/server/chunks/788.js
.next-check/server/chunks/916.js
.next-check/server/chunks/985.js
.next-check/server/pages/_app.js.nft.json
.next-check/server/pages/_document.js.nft.json
.next-check/server/pages/_error.js.nft.json
.next-check/server/pages/404.html
.next-check/server/pages/500.html
.next-check/static/6HPMnxQ34n9BjwevBw9fF/_buildManifest.js
.next-check/static/6HPMnxQ34n9BjwevBw9fF/_ssgManifest.js
.next-check/static/chunks/341.716d46e6e5cb6bdc.js
.next-check/static/chunks/482-aaa0949caf85c845.js
.next-check/static/chunks/712.c5784de0e7ff3d33.js
.next-check/static/chunks/d0deef33.53a40f89e3d32118.js
.next-check/static/chunks/main-2e4dc7dd592529b1.js
.next-check/static/chunks/main-app-5007514c51bf8e62.js
.next-check/static/chunks/webpack-f2c9dc87e4ee4d5c.js
.next-check/static/chunks/app/layout-0aa99f5999c888c9.js
.next-check/static/chunks/app/not-found-cae85cf8510dd2b6.js
.next-check/static/chunks/app/page-84c681c6a5183106.js
.next-check/static/chunks/app/_not-found/page-91c221772245cc34.js
.next-check/static/chunks/app/api/attendees/route-91c221772245cc34.js
.next-check/static/chunks/app/api/attendees/\[id]/route-91c221772245cc34.js
.next-check/static/chunks/app/api/expenses/route-91c221772245cc34.js
.next-check/static/chunks/app/api/geocode/route-91c221772245cc34.js
.next-check/static/chunks/pages/_error-544778206352ce59.js
.next-check/static/css/1de76be520b4de19.css
.next-check/static/css/e50858900049ac32.css
.next-check/static/media/569ce4b8f30dc480-s.p.woff2
.next-check/static/media/layers-2x.9859cd12.png
.next-check/static/media/layers.ef6db872.png
.next-check/static/media/marker-icon.d577052a.png
.next-check/types/app/layout.ts
.next-check/types/app/page.ts
.next-check/types/app/api/attendees/route.ts
.next-check/types/app/api/attendees/\[id]/route.ts
.next-check/types/app/api/expenses/route.ts
.next-check/types/app/api/geocode/route.ts
